/*universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*element selectors*/

/* changes color for easier reading*/
body {
    background-color: #d9dcd6;
}

/* changes color for easier reading*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* changes font size for easier reading*/
p {
    font-size: 16px;
}

/* class selectors */

/* places additional content to the right of the screen*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* formats the layout of the side information*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* formats the layout of the side information*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* formats the layout of the side information*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* formats the layout for the sections*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* .header will move the links to the right and stylize thme */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* formats the footer portion*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* formats the wording for the sections*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* formats the wording for the sections*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* applies changes specific to the h1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* applies changes to thd .seo*/
.header h1 .seo {
    color: #d9dcd6;
}
/* positions the links and stylizes them*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* positions the links and stylizes them*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* formats the picture*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


/* formats the online-reputation-management portion*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* formats the .social-media-marketing portion*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}




/* formats the search-engine-optimization portion*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



